opencv-python
numpy
Pillow         # GUI live camera preview (ImageTk)
gpiozero
RPi.GPIO

imutils        # easier OpenCV operations
picamera2      # Raspberry Pi only; skip on Windows (pip install on the Pi)


# tkinter GUI note:
# On Raspberry Pi/Linux, install system package if missing:
#sudo apt update
#sudo apt install python3-tk